/Dungeon.class
/DungeonCharacter.class
/DungeonCharacterTester.class
/Gremlin.class
/Hero.class
/Monster.class
/Ogre.class
/Skeleton.class
/Sorceress.class
/Thief.class
/Warrior.class
/DungeonCharacterIllegalArgumentException.class
